    <div class="grid justify-content-between">
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3 ml-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Atendimentos para o dia:</span>
                        <div class="text-900 font-medium text-xl">111</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-green-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-check text-green-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">12 novos </span>
                <span class="text-500">em relação ao dia anterior</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Atendimentos retorno:</span>
                        <div class="text-900 font-medium text-xl">30</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-id-card text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-blue-500 font-medium">10 novos </span>
                <span class="text-500">em relação à última semana</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-4">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Atendimentos cancelados:</span>
                        <div class="text-900 font-medium text-xl">8</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-pink-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-inbox text-pink-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-pink-500 font-medium">5 </span>
                <span class="text-500">foram remarcados</span>
            </div>
        </div>
    <div class="col-12 lg:col-6 xl:col-12">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-5">
                <div class="box mt-5">
                    <h4>List de pacientes agendados para hoje:</h4>
                    <ul>
                        <li><a href="#">Paciente 1</a></li>
                        <li><a href="#">Paciente 2</a></li>
                        <li><a href="#">Paciente 3</a></li>
                        <li><a href="#">Paciente 4</a></li>
                        <li><a href="#">Paciente 5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


