<div id="home" class="surface-0 overflow-hidden">
    <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static">
        <a class="flex align-items-center" href="/#/home">
            <img src="assets/layout/images/{{config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="Hospital Logo" height="50" class="mr-0 lg:mr-2">
            <span class="text-900 font-medium text-2xl line-height-3 mr-8">HBrasil</span>
        </a>
        <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
            <i class="pi pi-bars text-4xl"></i>
        </a>
        <div class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2" style="top:92%">
            <ul></ul>
            <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
                <a href="/#/login"><button pButton pRipple label="Login" class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"></button></a>
                <a href=""><button pButton pRipple label="Dashboard" class="p-button-rounded border-none ml-5 font-light line-height-2 bg-blue-500 text-white"></button></a>
            </div>
        </div>
    </div>

    <div id="hero" class="grid py-4 px-4 lg:px-8 relative">
        <div class="mx-4 md:mx-8 mt-0 md:mt-4">
            <h1 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block">Atendimento</span>e carinho a você</h1>
            <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">Conheça o Hospital Brasil. Sempre pensamento no seu bem estar. </p>
            <a href=""><button pButton pRipple type="button" label="Entre em contato" class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-3 text-white"></button></a>
        </div>
        <img src="assets/layout/images/screen-1.png" alt="" class="sm:mt-5 md:mt-0" style="right:10%;">
    </div>

    <div id="features" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
        <div class="grid justify-content-center">
            <div class="col-12 text-center mt-8 mb-4">
                <h2 class="text-900 font-normal mb-2">Unidades</h2>
            </div>


            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <a class="cursor-pointer">
                            <div class="flex align-items-center justify-content-center bg-bluegray-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-building text-2xl text-cyan-700"></i>
                            </div>
                            <h5 class="mb-2 text-900">SP</h5>
                            <span class="text-600">Unidade São Paulo</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <a class="cursor-pointer">
                            <div class="flex align-items-center justify-content-center bg-yellow-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-building text-2xl text-cyan-700"></i>
                            </div>
                            <h5 class="mb-2 text-900">RJ</h5>
                            <span class="text-600">Unidade Rio de Janeiro</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <a class="cursor-pointer">
                            <div class="flex align-items-center justify-content-center bg-green-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-building text-2xl text-cyan-700"></i>
                            </div>
                            <h5 class="mb-2 text-900">AM</h5>
                            <span class="text-600">Unidade Amazonas</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <a class="cursor-pointer">
                            <div class="flex align-items-center justify-content-center bg-blue-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-building text-2xl text-cyan-700"></i>
                            </div>
                            <h5 class="mb-2 text-900">PR</h5>
                            <span class="text-600">Unidade Paraná</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <a class="cursor-pointer">
                            <div class="flex align-items-center justify-content-center bg-gray-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-building text-2xl text-cyan-700"></i>
                            </div>
                            <h5 class="mb-2 text-900">BA</h5>
                            <span class="text-600">Unidade Bahia</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 md:col-12 lg:col-4 p-0 lg:pr-5 lg:pb-5 mt-4 lg:mt-0">
                <div style="height:160px; padding:2px; border-radius:10px; background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2));">
                    <div class="p-3 surface-card h-full" style="border-radius:8px;">
                        <a class="cursor-pointer">
                            <div class="flex align-items-center justify-content-center bg-purple-200 mb-3" style="width:3.5rem;height:3.5rem; border-radius:10px;">
                                <i class="pi pi-fw pi-building text-2xl text-cyan-700"></i>
                            </div>
                            <h5 class="mb-2 text-900">MG</h5>
                            <span class="text-600">Unidade Minas Gerais</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-4 px-4 mx-0 mt-8 " style="background: linear-gradient(90deg, rgba(199, 165, 253, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(250, 212, 116, 0.2),rgba(12, 140, 204, 0.2))">
        <div class="grid justify-content-between">
            <div class="col-12 md:col-2" style="margin-top:-1.5rem;">
                <a href="/#/home" class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer lg:mx-8 mt-4">
                    <img src="assets/layout/images/{{config.dark ? 'logo-white' : 'logo-blue'}}.svg" alt="footer sections" width="50" height="50" class="mr-2">
                    <h4 class="font-medium text-3xl text-900 ">HBrasil</h4>
                </a>
            </div>

            <div class="col-12 md:col-10 lg:col-7">
                <div class="grid text-center md:text-left">

                    <div class="col-12 md:col-3 mt-4 md:mt-0">
                        <h4 class="font-medium text-2xl line-height-3 mb-3 text-900"><a class="cursor-pointer">Sobre</a></h4>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Notícias</a>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Blog</a>
                    </div>

                    <div class="col-12 md:col-3 mt-4 md:mt-0">
                        <h4 class="font-medium text-2xl line-height-3 mb-3 text-900"><a class="cursor-pointer">Contato</a></h4>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Central de Atendimento</a>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Trabalhe <img src="assets/layout/images/new-badge.svg" class="ml-2"/>Conosco</a>
                    </div>

                    <div class="col-12 md:col-3 mt-4 md:mt-0">
                        <h4 class="font-medium text-2xl line-height-3 mb-3 text-900"><a class="cursor-pointer">Redes</a></h4>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Facebook</a>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Instagram</a>
                        <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Whatsapp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
