<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/home">
        <img src="assets/layout/images/{{appMain.config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="logo">
        <span>HBrasil</span>
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
         <a href="" class="p-link layout-topbar-button">
            <i class="pi pi-desktop"></i>
            <span>Dashboard</span>
        </a>
        <a href="/#/uikit/list" class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Agendamento</span>
        </a>
        <a href="/#/login" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Login</span>
        </a>
    </div>
</div>
