<div class="layout-footer">
    <img src="assets/layout/images/{{appMain.config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="Logo" height="20" class="mr-2"/>
    Desenvolvedor:
    <span class="font-medium ml-2">Gabriel Freitas (Front-end)</span>
</div>
