<div id="home" class="surface-0 overflow-hidden">
    <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static">
        <a class="flex align-items-center" href="/#/home">
            <img src="assets/layout/images/{{config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="Hospital Logo" height="50" class="mr-0 lg:mr-2">
            <span class="text-900 font-medium text-2xl line-height-3 mr-8">HBrasil</span>
        </a>
        <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
            <i class="pi pi-bars text-4xl"></i>
        </a>
        <div class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2" style="top:92%">
            <ul></ul>
            <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
                <a href="/#/login"><button pButton pRipple label="Login" class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"></button></a>
                <a href=""><button pButton pRipple label="Dashboard" class="p-button-rounded border-none ml-5 font-light line-height-2 bg-blue-500 text-white"></button></a>
            </div>
        </div>
    </div>

    <div id="hero" class="grid-nogutter py-4 px-4 lg:px-8 relative" style="background: linear-gradient(90deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2)), linear-gradient(180deg, rgba(253, 228, 165, 0.2),rgba(187, 199, 205, 0.2))">
        <div class="flex justify-content-center mt-4 mb-6">
            <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
                <div class="text-center mb-5">
                    <img src="assets/layout/images/logo-blue.svg" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Bem-vindo ao Hospital Brasil</div>
                    <span class="text-600 font-medium line-height-3">Ainda não possui cadastro?</span>
                    <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Cadastre-se</a>
                </div>

                <div>
                    <label for="email1" class="block text-900 font-medium mb-2">Email</label>
                    <input id="email1" type="text" pInputText class="w-full mb-3">

                    <label for="password1" class="block text-900 font-medium mb-2">Senha</label>
                    <input id="password1" type="password" pInputText class="w-full mb-3">

                    <div class="flex align-items-center justify-content-between mb-6">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Lembrar-me</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Esquecei a senha</a>
                    </div>

                    <a href=""><button pButton pRipple label="Entrar" icon="pi pi-user" class="w-full"></button></a>

                </div>
            </div>
        </div>
    </div>
</div>
